html {
  display:block;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-justify: auto;
}

header {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    background-color: purple;

}
h1 {
    text-align: center;
    flex-wrap: nowrap;
    color: white;
    line-height: 100px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:stretch;
    border: 5px solid gold;
    padding:10px;
    margin: 10px;
    list-style-type: none;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

/* end of nav */

section {
    display: block;

}

article {
    display:block;
    padding: 5px;
    margin: 5px;
    background: rgb(84, 177, 177);

}

h2 {
    display: block;
    font-size: 1.5em;
}


p {
    display: block;

}


footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 5px;
    padding: 5px;
}

figure {
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 3;
  grid-gap: 1em;
  margin: 1em;
}


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 375px;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.responsive {
  padding: 0 6px;
  margin: 5px 0 5px 0;
  float: left;
  width: 24.99999%;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}